<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="grid-large-screen">
            <div class="large-aside"></div>
            <div class="grid-container">
                {% include header.html %}
                <div id="gr-main">
                    {{ content }}
                </div>
                {% include footer.html %}
            </div>
            <div class="large-aside2"></div>
        </div>
    </body>
</html>

{% comment %}
{% include function.liquid foo=baz.quux %} {{ include.foo }}
{% endcomment %}
